<nav class="bg-[#3E97FF] min-h-[761px] w-[60px] rounded-xl {{' '+language}}">

</nav>
<div class="link-bar {{' '+language}}">
  <select class="border border-gray-100" #selectLang
    (change)="this.sendLanguageToParent(selectLang.value === 'العربية' ? 'ar' : 'en')">
    <option [value]="'language' | translate">{{'language' | translate}}</option>
    <option *ngFor="let language of this.translateGetLangs" [value]="language === 'ar' ? 'العربية' : 'English'">
      {{ language === 'ar' ? 'العربية' : 'English' }}
    </option>
  </select>
</div>
